# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.egg-info/
.eggs/
.dist/
build/
dist/
.venv/
.env/
.envrc

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
*.ipynb~*

# Dados
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs
logs/
*.log

# OS
Thumbs.db
.DS_Store
