# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/
.venv/
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Dados (mantém .gitkeep)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS
Thumbs.db
.DS_Store
